{% extends "wiki/base.html" %}
{% block title %}Most common English words in {{ category.category_pretty_name }}{% endblock %}

{% block content %}
{% if words %}
    <h2>{{ category.category_pretty_name }}</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Word</th>
            <th scope="col">Score</th>
        </tr>
        </thead>
        {% for word in words %}
            <tr>
                <td>{{ word.word }}</td><td>{{ word.score|floatformat:"5" }}</td></tr>
        {% endfor %}
    </table>
{% else %}
    <p>No words are available.</p>
{% endif %}
{% endblock %}
